*{
    margin:0px;
    padding:0px;
}
.topnavbar{
    width: 100%;
    height:40px;
    background-color: rgb(155, 152, 152);
}
.top{
    max-width:900px;
     margin:auto;
     display:flex;
}
 .top2{
    width:45%;   
}

 .header{
    width:100%;
    height:50px;
    background-color:rgb(211, 209, 209);
    
}
.logo{
    max-width:900px;
    background-color:honeydew;
    margin:auto;
    display:flex;
}
.logo1{
    width:25%;
    display: flex;
} 
.reachus{
    width:50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.social{
    width:25%;
    text-indent:20px;
    display: flex;
   justify-content: flex-end;
   align-items: center;
}

.advertisement{
 
    height:300px;
    background-image:url("./marvel.jpg");
   width:100%;
 
}
.image{
    margin:auto;
    max-width:900px;
    display:flex;
}
.menubar{
    border-bottom:1px solid white;
    display: flex;
    width:62.4%;
}
.menubar ul li{
    display: inline-block;
    list-style: none;
    text-indent:10px;
    padding-top:5px;
}
.menubar .search-container {
    float: right;   
    width:35%;
}  
  .menubar .search-container button {
    cursor: pointer;
  }
 
  .about{
      max-width:900px;
      margin:auto;
}
.content{
    width:50%;
    float:right;  
}

  .main{
      width:100%;
      height:200px;
      background-color:rgb(99, 97, 97);
  
  }
  
  .body1{
      max-width:900px;
   
      display: flex;
      margin:auto;
  }
  .column1{
      width:50%;
      height:200px;
      background-color:brown; 
  }
  .column2{
      width:50%;

  }
  .services{
      width:100%;
      height:45px;
      background-color:black;
     
  }
  .our{
     margin:auto;
      max-width:900px;
      background-color: aliceblue;
      text-align:center;
  }
  .card-container{
    width: 100%;
    height: 230px;
    background-color: rgb(92, 88, 88);
    display:flex;
    justify-content: center;
 }
 .text{
     width:100%;
     max-width:900px;
     display:flex;
 }
  .card-container .card{
    padding:0px;
    box-shadow: 5px 3px 5px 5px;
  }
 
  .card-container .card >h1{
    color:gainsboro;
  }
  .box{
    width:100%;
    height:75px;
    background: rgb(140, 141, 140);
  }
.footer{
    max-width:900px;
    margin:auto;
    background-color:grey;
    display: flex;
    padding-top:10px;
}
.first{
    width:25%;
    display: flex;
    background-color:grey;
}
.middle{
    width:50%;
    background-color:white;
    display:flex;
}
.middle ul li{
    display: inline-block;
    text-indent:10px;
    list-style: none;
}
.last{
    width:25%;
    display: flex;
    justify-content: flex-end;
}
.conclusion{
    background-color:rgb(92, 89, 89);
}
.endgame{
    margin:auto;
    max-width:900px;
    background-color:white;
    
}
